<nav>
  <h1>
    <a routerLink="/">Angular Routing</a>
  </h1>
  <ul>
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
    <li><a [routerLink]="['/card']" routerLinkActive="active">Card</a></li>
    <li><a routerLink="/counter" routerLinkActive="active">Counter</a></li>
    <li><a routerLink="/posts" routerLinkActive="active">Post</a></li>
    <li><a routerLink="/todo" routerLinkActive="active">ToDo</a></li>
    <li><button class="btn">Login</button></li>
    <li><button class="btn">Logout</button></li>
  </ul>
</nav>

<div class="container">

  <router-outlet></router-outlet>

</div>
